@use "./animations" as *;

.overlay {
	display: none;
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	inset: 0;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.25) 60%,
		rgba(255, 255, 255, 0.3)
	);
	z-index: 800;

	&.active {
		display: block;
		animation: opacity 0.4s forwards;
	}
}
.request-btn-box {
	&--desktop-visible {
		display: none;
	}
}
.request-btn {
	display: block;
	width: fit-content;
	padding: 0.9em 2em;
	text-decoration: none;
	background: linear-gradient(25deg, var(--cyan), var(--green));
	color: var(--pure-white);
	font-size: 1.6rem;
	border-radius: 30px;
	font-weight: 700;
}

.nav {
	// BURGER BUTTON
	&__toggler {
		position: relative;
		width: 40px;
		height: 40px;
		background: none;
		border: none;
		cursor: pointer;
	}
	&__bar {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 85%;
		height: 3px;
		background-color: var(--gray);
		pointer-events: none;

		&--top {
			top: 11px;
		}
		&--middle {
			top: 19px;
			transition: opacity 0.2s 0.2s cubic-bezier(0, 1, 0.8, 1);
		}
		&--bottom {
			top: 27px;
		}
	}
}

.nav__toggler.active .nav__bar--top {
	animation: topAnimation 0.3s 0.1s cubic-bezier(0, 1, 0.8, 1) forwards;
}
.nav__toggler.active .nav__bar--bottom {
	animation: bottomAnimation 0.3s 0.1s cubic-bezier(0, 1, 0.8, 1) forwards;
}
.nav__toggler.active .nav__bar--middle {
	opacity: 0;
}
.nav__toggler.unactive .nav__bar--top {
	animation: topAnimationClose 0.3s 0.2s cubic-bezier(0, 1, 0.8, 1) both;
}
.nav__toggler.unactive .nav__bar--bottom {
	animation: bottomAnimationClose 0.3s 0.2s cubic-bezier(0, 1, 0.8, 1) both;
}
// END OF BURGER BUTTON ^

.nav {
	&__desktop {
		display: none;
	}
	&__mobile {
		display: none;
		position: absolute;
		top: calc(100% + var(--nav-mobile-gap));
		inset-inline: var(--main-padding-inline);
		list-style: none;
		text-align: center;
		background-color: var(--pure-white);
		border-radius: 6px;
		height: 0;
		opacity: 0;
		transition: height 0.3s 0.3s cubic-bezier(0, 1, 0.8, 1),
			opacity 0.3s 0.3s cubic-bezier(0, 1, 0.8, 1);
		overflow: hidden;

		&.opened {
			opacity: 1;
		}
	}
	&__mobile-link {
		display: block;
		padding: 1.5em 1.5em 0;
		color: var(--very-dark-blue);
		font-weight: 400;
		text-decoration: none;
		font-size: 1.8rem;
		transition: transform 0.3s;

		&:focus-visible {
			color: #48e1a9;
			outline: none;
		}
	}
	&__mobile-li {
		display: block;
	}
	&__mobile-li:first-child .nav__mobile-link {
		padding-block-start: 2em;
	}
	&__mobile-li:last-child .nav__mobile-link {
		padding-block-end: 2em;
	}
}

@media (768px <= width) {
	.request-btn-box {
		position: relative;
		isolation: isolate;
	}
	.request-btn {
		position: relative;
		transition: opacity 0.3s;

		&:hover,
		&:focus-visible {
			opacity: 0.7;
			outline: none;
		}
		&:hover::before,
		&:focus-visible::before {
			opacity: 0.7;
		}
		&::before {
			content: "";
			position: absolute;
			inset: -0.2em;
			z-index: -1;
			background: linear-gradient(25deg, var(--cyan), var(--green));
			border-radius: inherit;
			filter: blur(5px);
			opacity: 0;
			transition: opacity 0.3s;
		}
	}
	.overlay {
		display: none !important;
	}
	.nav {
		&__mobile {
			display: none;
		}
		&__toggler {
			display: none;
		}
		&__desktop {
			display: flex;
			align-items: center;
			list-style: none;
		}
		&__desktop-link {
			position: relative;
			display: block;
			padding: 0.9em 1.2em;
			text-decoration: none;
			color: var(--gray);
			font-weight: 500;
			font-size: 1.45rem;
			transition: color 0.3s;

			&:hover,
			&:focus-visible,
			&.active {
				color: var(--very-dark-blue);
				outline: none;
			}
			&::before {
				content: "";
				display: none;
				position: absolute;
				inset-inline: 0;
				opacity: 0;
				margin: 0 auto;
				top: calc(100% + 0.76em);
				width: 60px;
				height: 4px;
				transform: scale(0);
				transform-origin: center;
				background: linear-gradient(360deg, var(--cyan) 20%, var(--green) 50%);
			}
			&.active::before {
				display: block;
				animation: activeLink 0.2s forwards;
			}
		}
	}
}

@media (900px <= width) {
	.request-btn-box {
		&--desktop-visible {
			display: block;
		}
	}
	.nav {
		&__desktop-link {
			&::before {
				top: calc(100% + 0.94em);
			}
		}
	}
}
